/* public/style.css */
:root {
  --buncss-light: initial;
  --buncss-dark: ;
  color-scheme: light dark;
  color: #ffffffde;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  background-color: #242424;
  font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.5;
}

@media (prefers-color-scheme: dark) {
  :root {
    --buncss-light: ;
    --buncss-dark: initial;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  overflow: hidden;
  pointer-events: none;
  z-index: 0;
  width: 100%;
  height: 100%;
}

canvas {
  pointer-events: all;
  position: absolute;
  z-index: 1;
}

.menu-background {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.blur-image {
  object-fit: cover;
  filter: blur(4px);
  width: 100%;
  height: 100%;
}

.centered-content {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

input[type="text"], button {
  outline: none;
  pointer-events: all;
  border: none;
  padding: 10px;
  font-size: 16px;
}

button {
  color: #fff;
  cursor: pointer;
  background-color: #745c06;
  border-radius: .3rem;
  margin-left: 10px;
}

.hidden {
  display: none;
}

.menu {
  z-index: 2;
}

.chat-container {
  z-index: 3;
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
}
